.btn {
  outline: none;
  border: none;
  font-family: var(--ff-primary-reg);
  font-size: var(--fs-base);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  transform-origin: 50% 50%;
  min-width: 100px;
  line-height: 1;
  cursor: pointer;

  /* &.isSimpleHover::before,
  &.isSimpleHover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    filter: blur(2px);
    transition: transform 0.05s ease-in;
    z-index: -1;
  } */

  &::before {
    --translate: -6px;
    box-shadow: inset 0 6px 0 1px rgba(255, 255, 255, 0.2);
  }

  &::after {
    --translate: 6px;
    box-shadow: inset 0 -6px 0 1px rgba(0, 0, 0, 0.2);
  }

  &:active::before,
  &:active::after {
    transform: translateY(var(--translate));
  }
}

.btn[data-type="square"] {
  border-radius: var(--btn-border-radius);
}

.btn[data-type="rounded"] {
  border-radius: 3rem;
}

.btn:active {
  transform: scale(0.98);
}

.isSimpleHover {
  transition: transform 0.2s ease-in;
}

.btn[data-size="xs"] {
  padding: 6px 19px;
  /* line-height: 1.4; */
  min-width: 80px;
}

.btn[data-size="sm"] {
  padding: 8px 22px;
  line-height: 1;
  min-width: 80px;
}

.btn[data-size="md"] {
  padding: 10px 24px;
  line-height: 1;
}

.btn[data-size="lg"] {
  padding: 12px 28px;
  line-height: 1;
}

.isSimpleHover:hover {
  transform: scale(1);
}

.secondaryBtn {
  border-radius: var(--secondary-border-radius);
}

.btn[data-variant="main"] {
  background-color: var(--main-color);
  color: var(--white-color);
}

.btn[data-variant="primary"] {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn[data-variant="main-outline"] {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn[data-variant="primary-outline"] {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn[data-variant="secondary"] {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.btn[data-variant="tertiary"] {
  background-color: var(--quaternary-color);
  color: var(--white-color);
}

.btn[data-variant="transparent"] {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid #eee;
  border-radius: 4px !important;
  padding: 10px 16px;
}

.btn[data-variant="bordered"] {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);

  &::before,
  &::after {
    content: none;
  }
}

.btn[data-variant="danger"] {
  background-color: var(--danger-color);
  color: var(--white-color);
}

.btn[data-variant="danger-outline"] {
  background-color: transparent;
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
}

.btn[data-variant="icon"] {
  background-color: #f1f2f3;
  color: #23272e;
  border: 1px solid #f1f2f3;
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

.btn[data-variant="link"] {
  --inset: 0px;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 6px;
  padding: 6px 10px;
  min-width: fit-content;

  &::before,
  &::after {
    content: none;
  }
}

.btn[data-variant="ghost"] {
  --inset: 0px;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 0;
  padding: 0;
  min-width: fit-content;

  &::before,
  &::after {
    content: none;
  }
}

.btn[data-variant="page"] {
  --inset: 0px;
  background-color: var(--white-color);
  border: 1px solid rgba(61, 61, 58, 0.1);
  color: var(--text-color);
  border-radius: 6px;
  padding: 0px 10px !important;
  min-width: fit-content;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}