.main {
  &.inBox {
    border-radius: var(--border-radius);
    /* border: 1px solid var(--border-color); */
    background-color: var(--background-quaternary);
  }
}

.table_heading {
  display: grid;
  grid-template-columns: 1fr repeat(1, auto);
  align-items: center;
  overflow-x: auto;
  position: relative;
  width: 100%;
  gap: 10px;
  padding-bottom: 300px;
  margin-bottom: -288px;
  white-space: nowrap;
  padding-inline: 0 15px;
  padding-top: 10px;

  .inBox & {
    padding-inline: 15px;
  }

  & span {
    font-family: var(--ff-primary);
    font-weight: 600;
    color: var(--text-color);
    font-size: var(--fs-500);
  }

  & p {
    margin-bottom: 0;
    margin-inline-end: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  & > button:not(:first-of-type) {
    margin-left: 15px;
  }

  &:has(.filterDropdown) {
    margin-bottom: -285px;
    padding-bottom: 300px;
  }

  &:global(.filter__dropdown-indicator) {
    padding: 0;
  }

  &:global(.filter__control) {
    padding-block: 2px;
  }
}

.headerFilterDiv {
  display: flex;
  align-items: center;
  gap: 12px;
  /* padding: 12px 0; */
  justify-content: space-between;
}

.table {
  width: 100%;
  min-width: 1200px;
}

.scrollWrapper {
  box-shadow: var(--section-shadow);
  position: relative;
  /* padding-inline: 20px; */
  padding-bottom: 10px;
  .inBox & {
    padding-bottom: 0;
  }
}

.scrollWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--border-color);
  z-index: -1;
  height: calc(100% - 62px);
  top: auto;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  bottom: -1px;
}
.tableWrapper {
  /* height: 560px; */
  overflow-y: auto;
  border-radius: var(--border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  /* border: 1px solid var(--border-color); */

  .inBox & {
    border-radius: 0;
    margin-inline: -1px;
    margin-bottom: -1px;
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
}

.tableWrapper::-webkit-scrollbar {
  display: none;
}

.tableHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--border-color);
}

.tableRow {
  border-radius: var(--input-border-radius);
  overflow: hidden;
  position: relative;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--_border-radius);
    /* background: var(--_background); */
    /* border-width: var(--_border-width); */
    /* border-bottom: var(--_border-bottom); */
    border-color: var(--border-color);
    z-index: -1;
    border-radius: var(--_border-radius);
  }

  .inBox &::before {
    border-radius: 0;
  }

  tbody &:last-child::before {
    border-bottom: none;
  }
}
.tableBody {
}
.tableHead__wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.tableHead {
  padding: 20px;
  white-space: nowrap;
  font-family: var(--ff-primary-reg);
  color: var(--primary-color);
}

.tableData {
  padding: 17px 20px;
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--ff-primary-med);
}

.Pagination {
  border-width: 1px 0 0px 0;
  border-style: solid;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-color: var(--border-color);
}

.sortIcon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-inline-start: 3px;

  & .__icon:first-child {
    margin-block-end: -2px;
    height: 10px;
    width: 10px;
  }

  & .__icon:last-child {
    margin-block-start: -2px;
    height: 10px;
    width: 10px;
  }
}

@media screen and (max-width: 620px) {
  .table_heading {
    column-gap: 15px;
  }
}
