.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.passwordField {
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  padding: var(--input-padding-md);
  width: 100%;
  border: var(--input-border);
  transition: all 0.3s ease-in-out;
  border-radius: var(--border-radius);
  background-color: var(--input-background-color);
}
.passwordContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.passwordField {
  position: relative;
  width: 100%;
  .copyIcon {
    cursor: pointer;
    color: var(--secondary-color);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
  }
}
