.userPopover {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.userPhoto {
  border-radius: 50%;
  overflow: hidden;
}

.userInfo {
  display: grid;
  text-align: left;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.userName {
  color: var(--primary-text-color);
}
.userEmail {
  font-size: 12px;
  color: #a0a0a0;
}
.white {
  color: var(--white-color);
}

.list {
  display: grid;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.link {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--main-color) !important;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  &:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
  }
}

.logout {
  color: var(--danger-color) !important;
}
