.dashboardMain {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.stats_card_wrapper {padding: 16px; border-radius: 12px; display: flex; align-items: center; justify-content: space-between; background-color: #FFF;}
.stats_card_info {display: flex; gap: 16px; flex-direction: column;}
.card_value_unit {font-size: 24px; font-weight: 400; color: var(--black); font-style: italic;}
.stats_card_info .card_value_unit {font-size: 14px; font-family: 'Montserrat-Regular';}
.stats_card_info .card_title {font-size: 12px;}
.stats_card_info .card_value {margin-bottom: 0;}

.statsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 575px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.chartsWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.contentWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;

  @media (max-width: 1366px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.leftContent h5 {
  margin-bottom: 25px;
}

.barChart {
  margin-top: 35px;
}

.quickLinkWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;

  @media (max-width: 575px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.linkItem {
  background-color: var(--white-color);
  border-radius: 11px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--border-color-v1);

  & > p {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color-dark);
    margin: 0;
  }

  & > button {
    width: 100%;
  }
}
.contentHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.alertWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  background-color: var(--white-color);
  border-radius: 11px;
  padding: 20px;

  border: 1px solid var(--border-color-v1);
  height: 100%;
  max-height: 800px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 575px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.charts_wrapper {display: grid; gap: 20px; grid-template-columns: minmax(0, 3fr) minmax(0, 2fr); width: 100%;}
.charts_wrapper:first-child {width: 70%;}
/* .charts_wrapper:last-child {width: 30%;} */

@media (max-width: 1366px) {
  .charts_wrapper {
    grid-template-columns: 1fr;
  }
}