.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.heading_container__noYear {
    margin-bottom: 16px;
  }

  & h2 {
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 600;
    color: var(--text-color);
  }
}
