.pagination {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  /* padding: 12px 24px; */
}

.ellipsis {
  color: var(--text-color);
}
.active {
  color: var(--white-color) !important;
  background-color: var(--main-color) !important;
}
.paginationContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 1rem;
  }

  & p {
    color: var(--text-color);
    font-weight: 500;
    margin: 0;
  }
}

.paginationBtn {
  min-width: fit-content;
}
