.customTooltip {
  background-color: rgba(107, 107, 107, 0.3);
  backdrop-filter: blur(1px);
  border-radius: 5px;
  padding: 20px 10px;
  font-size: 12px;
}

.heading {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 0px;
}
.transactionMainDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transactionHeading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  margin-bottom: 0px;
  font-family: var(--ff-primary-reg);
  font-size: 14px;
}

.transactionTitle {
  margin-bottom: 0px;
  font-family: var(--ff-primary-reg);
  font-size: 14px;
}
.SuccessfulTitle {
  margin-bottom: 0px;
  font-family: var(--ff-primary-reg);
  font-size: 14px;
}

.title::before {
  content: "";
  display: inline-block;
  margin-inline-end: 10px;
  width: 25px;
  height: 8px;
  background-color: var(--main-color);
}

.transactionTitle::before {
  content: "";
  display: inline-block;
  margin-inline-end: 10px;
  width: 25px;
  height: 8px;
  background-color: var(--secondary-color);
}
.SuccessfulTitle::before {
  content: "";
  display: inline-block;
  margin-inline-end: 10px;
  width: 25px;
  height: 8px;
  background-color: var(--primary-color);
}
.value {
  margin-bottom: 0px;
  font-family: var(--ff-primary-semiBold);
  font-size: 16px;
}
.transactionValue {
  margin-bottom: 0px;
  font-family: var(--ff-primary-semiBold);
  font-size: 16px;
}

.chart {
  max-width: 992px;
}
.customTooltip {
  padding-inline: 15px;
  padding-block: 5px;
  border-radius: 10px;
  background: linear-gradient(180deg, #bc6471 0%, #cda3a9 100%);
  display: flex;
  align-items: center;
  gap: 5px;
}
.customTooltip p {
  margin-bottom: 0px;
  font-family: var(--ff-secondary-bold);
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
}
.bar {
  min-height: 200px;
}

.value {
  font-size: 46px;
  font-family: var(--ff-secondary-bold);
}

/* Lengend */
.legendContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 12px;

  @media screen and (max-width: 400px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 400;
  color: #4a4a4a;
  white-space: nowrap;
}

.legendDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.pieChartContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}
