.statusWrapper {
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
  border-radius: 18px;
  padding: 2px 12px;
  min-width: 50px;
  width: fit-content;
}

.statusWrapper.withoutLabel {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
}

.statusWrapper p {
  margin-bottom: 0;
  color: var(--white-color);
  font-size: 12px !important;
  font-family: var(--font-primary);
}
