.profileEditContainer {
  width: 100%;
  min-width: 120px;
  max-width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  /* border: 1px solid var(--border-color);
  background: rgba(74, 74, 74, 0.1); */
  cursor: pointer;
  position: relative;
}

.profileEditImage_box {
  width: 100%;
  height: 100%;
  position: relative;
}

.profileEditImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.profileEditPen_box {
  width: 20px;
  height: 20px;
  background: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  bottom: 5px;
  opacity: 1;
  z-index: 1;
  /* border: 2px solid var(--main-color); */
}

.profileEditPen {
  font-size: 18px;
  cursor: pointer;
}

.file_upload_form3rd[type="file"] {
  display: none;
}
.uploadingOverlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
