.header {
  background-color: var(--primary-color) !important;
  width: 100%;
  margin-bottom: 15px;
  color: var(--white-color) !important;
}

.header h4 {
  text-align: center !important;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
.header {
  align-self: flex-start;
  padding-block-start: 0px;
}
