.searchInputContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.searchInput {
  /* border: 1px solid var(--input-border-color); */
  border: 1px solid #E4E4E4;
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  border-radius: var(--input-border-radius);
  padding: 0.8rem 1rem;
  width: 100%;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.searchIcon {
  position: absolute;
  right: 1rem;
  color: var(--search-icon-color);
  cursor: pointer;
}
