.tooltip {
  background: var(--primary-color);
  border: none;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 5px 15px;
  opacity: 0.8;
}
.label {
  font-size: 16px;
  color: var(--white-color);
}

.legend {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.legendColor {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.legendText {
  color: var(--black-color);
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}
