.footer {
  background-color: light-dark(#F4F6F8, #131315);
  padding-block: 1rem 2rem;
  margin-top: 4rem;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.mainContent {
  display: flex;
}

.linksSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & .link__title {
    font-size: var(--fs-200);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}

.link {
  color: var(--secondary-text-color) !important;
  text-decoration: none;
  font-size: var(--fs-200);
  cursor: pointer;
}

.socialSection {
  display: flex;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

.bottomSection {
  grid-column: 1/-1;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.legalLinks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legalLink {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.separator {
  color: var(--border-color);
  font-size: 14px;
}

.copyright {
  margin: 0;
}

.copyright p {
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .mainContent {
    flex-direction: column;
    text-align: center;
    padding-block: 12px;
    gap: 5px;
  }

  .linksSection {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .link {
    font-size: 14px;
  }

  .bottomSection {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .linksSection {
    flex-direction: column;
    gap: 1rem;
  }

  .socialSection {
    justify-content: center;
  }
}
