.title {
  font-size: 26px;
  font-family: var(--ff-secondary-semi-bold);
  text-align: center;
  color: var(--primary-color);
}
.content h4 {
  text-align: center;
  font-size: 25px;
}

.btnsBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
}

.yesBtn {
  background-color: var(--main-color);
  padding: 10px 45px;
}

.noBtn {
  padding: 10px 45px;
  color: var(--text-gray-color) !important;
}

/* For Header */
.iconDiv {
  margin-bottom: 6px;
}

.modalHeader {
  padding: 0px;
}

.headingText {
  font-size: 24px;
  color: white;
  text-align: center;
}

.message {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-gray-color);
}

.aCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}
.__icon {
  margin-bottom: 1rem;
}
