.stats_card_wrapper {padding: 16px; border-radius: 12px; display: flex; align-items: center; justify-content: space-between; background-color: #FFF;}
.stats_card_info {display: flex; gap: 16px; flex-direction: column;}
.card_value_unit {font-size: 24px; font-weight: 400; color: var(--black); font-style: italic;}